.mobile_con {
  display: none;
}

.con_1and23 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.color_con {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 844px;
  background-color: var(--dark);
}

.color_conh1 {
  font-size: 4rem;
  margin-right: -80%;
  z-index: 1;
}
.p_c {
  text-align: center;
  color: var(--dark);
  font-family: var(--p);
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
}
.con_1 {
  width: 100%;
  margin-right: -34%;
}

.con_3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--dark);
  font-weight: bold;
  font-size: 2rem;
  font-family: var(--p);
  margin-left: -34%;
}

.button {
  display: flex;
}

button {
  background-color: #9e3f53;
  border: none;
  font-family: var(--menu);
  color: var(--pink);
  font-size: 1.5rem;
  padding: 0 20px;
}

.icon {
  display: flex;
  justify-content: center;
  background-color: var(--dark);
  color: var(--pink);
  height: 40px;
  width: 40px;
}

@media only screen and (min-width: 690px) and (max-width: 1200px) {
  .main_con {
    display: none;
  }

  .mobile_img {
    display: none;
  }

  .mobile_con {
    display: flex;
  }

  .mobile_con2 {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-direction: column;
    margin-left: -15%;
  }

  .mobile_p {
    color: var(--dark);
    font-weight: bold;
    font-size: 1.2rem;
    font-family: var(--p);
  }

  .icon {
    display: flex;
    align-items: center;
    background-color: var(--dark);
    color: var(--pink);
    height: 40px;
    width: 40px;
  }
}

@media only screen and (max-width: 690px) {
  .tablet_img {
    display: none;
  }
  .mobile_img img {
    max-width: 100%;
  }
  .main_con {
    display: none;
  }
  .color_conh1 {
    margin: 0;
  }

  .mobile_con {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
  .mobile_con2 {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    margin: 0 auto;
    max-width: 380px;
  }

  .mobile_p {
    color: var(--dark);
    font-weight: bold;
    font-size: 1.2rem;
    font-family: var(--p);
  }

  .icon {
    display: flex;
    align-items: center;
    background-color: var(--dark);
    color: var(--pink);
    height: 40px;
    width: 40px;
  }
}
