@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Josefin+Slab&family=M+PLUS+Rounded+1c:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --h1: "EB Garamond", serif;
  --p: "Josefin Slab", serif;
  --menu: "'M PLUS Rounded 1c', sans-serif;";
  --background-color: #ac7b84;
  --pink: #f5a6e6;
  --dark: #4c243b;
  --red: #b84a62;
  --purple: #54457f;
}
body {
  background-color: var(--background-color);
}
main {
  max-height: 100dvh;
}

header {
  background-color: var(--dark);
  padding: 0.5rem;
  margin-bottom: 6rem;
}
ul {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--red);
  font-size: 3rem;
}

a:hover {
  color: var(--background-color);
}

h1 {
  color: var(--pink);
  font-family: var(--h1);
}

/********** Index page **********/

.style_con {
  max-width: 1500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}
